
<!--div de alert para mostrar errores-->
<div *ngIf="!juegos"  class="alert alert-danger">
Error al consultar los juegos
</div>

<!--div de informacion para mostrar mensaje-->
<div  *ngIf="juegos?.length == 0 " class="alert alert-danger">
    No hay juegos
</div>

<div class="card border-primary mb-3" *ngIf="juegos?.length > 0 ">
    <div class="card-header">
      Juegos
      <!--boton para mostrar y ocultar el id -->
      <!--(click)="showId = !showId"-->
      <button type="button" class="btn btn-primary float-right" (click)="switchId()" >{{ showId ? 'Ocultar' : 'Mostrar' }} ID </button>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            
            <thead>
                <!--showId en juegos.component.ts-->
                <th *ngIf="showId">ID</th>
                <th>Titulo</th>
                <th>Fecha Lanzamiento</th>
                <th>Precio</th>
                <th>PEGI</th>
                <th>Categoria</th>
            </thead>

            <tbody>
                <tr *ngFor="let juego of juegos">
                    <td *ngIf="showId">{{juego.idJuego}}</td>
                    <td>{{juego.titulo}}</td>
                    <!--le damos formato a la fecha-->
                    <td>{{juego.fechaLanzamiento | date: "dd-MM-yyyy"}}</td>
                    <td>{{juego.precio}}</td>
                    <td>{{juego.pegi}}</td>
                    <td>{{juego.categoria | uppercase}}</td>
                </tr>
            </tbody>

        </table>
    </div>
  </div>